body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #a5a19f;
    color: #111416;
}

body._lock {
    overflow: hidden;
}

.container {
    margin: 30px auto 0 auto;
    font-size: 18px;
    width: 90%;
}

.wrapper {
    display: flex;
}

/* ASIDE */
:root {
    --aside-color:rgb(255, 255, 255);
}

aside {
    background-color: #2c2b2d;
    color: var(--aside-color);
}

aside h3, section h3 {
    color: var(--aside-color);
    border-bottom: 2px solid #f99b0b;
    margin: 40px 0;
}

.aside__wrapper {
    margin-left: 70px;
}

.skill__list,
.contacts__list,
.courses__list {
    list-style: none;
    line-height: 35px;
}

.skill__list li, 
.languages li, 
.contacts__list li,
.courses__list li {
    padding-left: 50px;
    margin-bottom: 10px;
    background-size: 30px;
}

.skills__html {
    background-image: url(../assets/img/html.svg);
    background-repeat: no-repeat;
}

.skills__css {
    background-image: url(../assets/img/css.svg);
    background-repeat: no-repeat;
}

.skills__js {
    background-image: url(../assets/img/JS.svg);
    background-repeat: no-repeat;
}

.skills__bs {
    background-image: url(../assets/img/bootstrap.svg);
    background-repeat: no-repeat;
}

.skills__vsc {
    background-image: url(../assets/img/vsc.svg);
    background-repeat: no-repeat;
}

.skills__git {
    background-image: url(../assets/img/github.svg);
    background-repeat: no-repeat;
}

.skills__figma {
    background-image: url(../assets/img/figma.svg);
    background-repeat: no-repeat;
}

.languages__english {
    background-image: url(../assets/img/english.svg);
    background-repeat: no-repeat;
}

.languages__russia {
    background-image: url(../assets/img/russia.svg);
    background-repeat: no-repeat;
}

.contacts__vk {
    background-image: url(../assets/img/vk.svg);
    background-repeat: no-repeat;
}

.contacts__gmail {
    background-image: url(../assets/img/gmail.svg);
    background-repeat: no-repeat;
}

.contacts__discord {
    background-image: url(../assets/img/discord.svg);
    background-repeat: no-repeat;
}

.contacts__list li a,
.languages__list {
    color: #fcfcfc;
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px;
    margin: 75px 0;
    height: 150px;
    background-color: #f99b0b;
    font-size: 46px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 4px;
}

.header__navigation {
    display: flex;
    justify-content: center;
    align-content: center;
}

.header__list {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    list-style: none;
}

.header__item {
    margin-right: 10px;
}

.header__item:hover a {
    color: #2c2b2d;
    transition: .3s;
}

.header__link {
    text-decoration: none;
    color: #fcfcfc;
}

.ava {
    width: 300px;
    height: 300px;
}

header h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 20px 0;
    padding-bottom: 15px;
    color: #111416;
    border-bottom: 2px solid #2c2b2d;
}

.menu__icon {
    display: none;
}

.menu__icon._active {
    position: fixed; 
}

.menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
}

.menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}

.menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
}

.header__menu-burger {
    display: none;
}

/* MAIN */

main {
    background-color: #fcfcfc;
    letter-spacing: 0.6px;
}

.main__wrapper {
    padding: 0 60px;
}

.main__wrapper h3 {
    font-weight: 700;
}

.about-myself p {
    line-height: 26px;
    text-align: justify;
}

.education strong {
    display: block;
    font-weight: 700;
    margin: 30px 0 5px 0;
}

.education p span,
.code-tasks span {
    color: #f99b0b;
}

.courses__code-basics {
    background-image: url(../assets/img/code-basics.png);
    background-repeat: no-repeat
}

.courses__learnjavasript {
    background-image: url(../assets/img/learnjavascript.svg);
    background-repeat: no-repeat;
    background-size: 40px !important;
}

.courses__rs-school {
    background-image: url(../assets/img/courses__logo-rs.svg);
    background-repeat: no-repeat;
}

.code-tasks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.tasks {
    width: 60%;
    max-width: 363px;
    height: 100px;
    box-shadow: 1px 0px 5px 3px rgba(44, 43, 45, 0.15);
    border-radius: 7px;
    margin: 20px 0;
    transition: .5s;
}

.task__video-player {
    background-image: url(../assets/img/video-player.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.task__drum-kit {
    background-image: url(../assets/img/drum-kit.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.task__museum-stage0 {
    background-image: url(../assets/img/museum-stage0.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.tasks:hover {
    box-shadow: 1px 0px 5px 3px rgba(249, 155, 11, 0.70);
}

/* section in main */

section {
    background-color: #2c2b2d;
    color: var(--aside-color);
    padding: 0 30px;
    display: none;
}

/* FOOTER */

 footer {
    background-color: #f99b0b;
    margin: 0 auto 30px auto;
    padding: 15px 0px;
    font-size: 18px;
    width: 90%;
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 100px;
}

.footer__wrapper a {
    text-decoration: none;
    color: white;
}

.footer__logo {
    height: 26px;
    width: 73px;
}

.footer__git img {
    margin-right: 10px;
}